/* src/tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Agrega estilos personalizados si es necesario */
.dashletgroup {
    @apply w-[50%] flex flex-wrap sm:flex-col md:flex-col lg:flex-row justify-center content-center lg:min-w-full m-6 p-4 
    lg:justify-around gap-10
}

.DashletContainer{
    @apply min-w-max min-h-max
}

.Cabecera{
    @apply  border-2  rounded-2xl min-h-min
    flex flex-wrap content-center justify-around
    overflow-hidden p-4 
}
.logo{
    @apply object-cover mb-2  border-blue-950 border-4 rounded-full shadow-sm w-32 h-32 sm:w-24 sm:h-24 lg:h-48 lg:w-48  mx-auto
}


.descripcionbot {
    @apply lg:text-lg m-2 sm:text-xs
}

.dashboardtitle{
    @apply sm:mt-2 sm:text-2xl lg:text-4xl font-bold text-blue-950 text-center mt-4 
}


/* ------------- BOTONES -------------------- */
/* ------------- BOTONES -------------------- */
.botonWebex{
    @apply m-4 p-4 bg-lime-400 text-lg font-bold rounded-2xl 
}
.botonInicio{
    @apply bg-transparent hover:bg-lime-300 text-lime-950 font-semibold hover:text-black py-2 px-4 border border-lime-500 hover:border-transparent rounded 
}




/* ------------- CARD -------------------- */
/* ------------- CARD -------------------- */
.card {
    width: 17em;
    height: 22.5em;
    background: #171717;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .card span {
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    font-size: 1em;
  }
  
  .card .info {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    font-size: 0.72em;
    margin: 1em;
  }
  
  .card .img {
    width: 4.8em;
    height: 4.8em;
    background: white;
    border-radius: 15px;
    margin: auto;
  }
  
  .card .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  .card a {
    color: white;
    transition: .4s ease-in-out;
  }
  
  .card a:hover {
    color: red;
  }
  
  .card button {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
  }
  
  .card button:hover {
    background: red;
    color: white;
    cursor: pointer;
  }